@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

/* colors */

$color1 : #4CA368;
$color1_hover : #37804E;
$color2 : #5DB442;

$black: #282828;
$black-text: #333333;
$ash: #efefef;
$white: #fff;
$offwhite: #ececec;
$logo: #636666;
$footer_lite: #777777;

/* fonts */

$roboto : 'Roboto',
sans-serif;
$basicsans7 : 'Basic Sans Serif 7',
sans-serif;
$opensans : 'Open Sans',
sans-serif;

// gap measurement
$p_x: 250px;
$p_icon: 15px;
$m_icon: 2px;
$m_text: 12px;
$py_menu: 10px;
$px_menu: 20px;
$my_menu: 10px;
$mx_menu: 35px;


@font-face {
    font-family: 'Basic Sans Serif 7';
    src: url(../lib/fonts/basic_sans_serif_7.ttf);
}


/* Header Section Starts */
.header {
    // width: auto;
    overflow-x: hidden;

    .container {
        margin: 0;
        padding: 0 $p_x;
        // padding: 0;
        // width: auto;
    }

    .container_top {
        height: 50px;
        margin: 0;
        padding: 0 $p_x;
        background: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .links {
                // background: $color2;
                width: 35px;
                height: 35px;
                padding: $p_icon;
                margin: $m_icon;
                border-radius: 2px;
                text-align: center;
                // border: 1px solid $color2;
                position: relative;

                &:hover {
                    background: $white;
                    // border: 1px solid $color2;
                    color: $color2;

                    i {
                        color: $color2;
                    }
                }

                i {
                    color: $white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }


        .contact_top {
            // display: flex;
            // justify-content: flex-end;
            // align-items: center;
            // margin: auto 0;

            .links {
                padding: $p_icon 0 $p_icon $p_icon;
                margin: $m_icon 0 $m_icon $m_icon;
                // border: 1px solid $color2;
                color: $white;

                &:hover {

                    i,.text {
                        color: $color2;
                    }
                }

                i {
                    color: $white;
                }

                .text {
                    margin: 0 0 0 $m_text;
                }
            }
        }
    }



    .container_bottom {
        

        .navbar_spacing {
            /* padding: 0 250px; */
            background-color: $white;
        }

        #Nav {
            padding: $py_menu 0;

            .logo {
                font-family: $basicsans7;
                color: $logo;
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;

                &:hover {
                    color: $color2;
                }
            }

            .icon {
                color: $color2;
                margin-top: 5px;

                &:hover {
                    color: $white;
                }
            }

            #navbarText {

                .nav-link {
                    margin-left: $mx_menu;
                    padding: $py_menu 0 $py_menu $px_menu;
                    color: $white;
                    font-size: 24px;
                    font-family: $roboto;
                    color: $black;
                    text-align: left;

                    &:hover {
                        color: $color2;
                    }
                }

                .btn-click{
                    padding: $py_menu $px_menu;
                    border: 2px solid $color2;
                    border-radius: 25px;

                    &:hover{
                        background-color: $color2;
                        color: $white;
                    }
                }
            }
        }
    }

}

/* Side Navbar Starts */

body.side-menu-visible #side-menu {
    transform: translateX(-230px);
    padding: 20px 15px;

    .close {
        background: $white;
        border: 2px solid $color2;
        /* padding: 1px 8px; */
        border-radius: 5px;

        &:hover {
            border: 2px solid $color1;
        }

        span {
            color: $color2;
            padding: 1px 8px;

            &:hover {
                color: $color1;
            }
        }
    }

    .nav-link {
        color: $color1;
        font-size: 24px;
        font-weight: 600;
        padding: 16px 0;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:hover {
            color: $color2;
            font-size: 30px;
            font-weight: 800;
            padding: 8px 6px;
            margin-left: 6px;
        }
    }

}

// #side-menu {
//     padding: 20px 15px;
// }





/* Side Navbar Ends */

/* Header Section Ends */