@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* colors */
/* fonts */
@font-face {
  font-family: 'Basic Sans Serif 7';
  src: url(../lib/fonts/basic_sans_serif_7.ttf);
}

/* Header Section Starts */
.header {
  overflow-x: hidden;
}

.header .container {
  margin: 0;
  padding: 0 200px;
}

.header .container_top {
  height: 50px;
  margin: 0;
  padding: 0 200px;
  background: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container_top .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container_top .social .links {
  width: 35px;
  height: 35px;
  padding: 15px;
  margin: 2px;
  border-radius: 2px;
  text-align: center;
  position: relative;
}

.header .container_top .social .links:hover {
  background: #fff;
  color: #5DB442;
}

.header .container_top .social .links:hover i {
  color: #5DB442;
}

.header .container_top .social .links i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .container_top .contact_top .links {
  padding: 15px 0 15px 15px;
  margin: 2px 0 2px 2px;
  color: #fff;
}

.header .container_top .contact_top .links:hover i, .header .container_top .contact_top .links:hover .text {
  color: #5DB442;
}

.header .container_top .contact_top .links i {
  color: #fff;
  font-size: 14px;
}

.header .container_top .contact_top .links .text {
  margin: 0 0 0 12px;
  font-size: 14px;
}

.header .container_bottom .navbar_spacing {
  /* padding: 0 250px; */
  background-color: #fff;
}

.header .container_bottom #Nav {
  padding: 10px 0;
}

.header .container_bottom #Nav .logo {
  font-family: "Basic Sans Serif 7", sans-serif;
  color: #636666;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .container_bottom #Nav .logo:hover {
  color: #5DB442;
}

.header .container_bottom #Nav .icon {
  color: #5DB442;
  margin-top: 5px;
}

.header .container_bottom #Nav .icon:hover {
  color: #fff;
}

.header .container_bottom #Nav #navbarText .nav-link {
  margin-left: 35px;
  padding: 10px 0 10px 20px;
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #282828;
  text-align: left;
}

.header .container_bottom #Nav #navbarText .nav-link:hover {
  color: #5DB442;
}

.header .container_bottom #Nav #navbarText .btn-click {
  padding: 10px 20px;
  border: 2px solid #5DB442;
  border-radius: 25px;
}

.header .container_bottom #Nav #navbarText .btn-click:hover {
  background-color: #5DB442;
  color: #fff;
}

/* Side Navbar Starts */
body.side-menu-visible #side-menu {
  -webkit-transform: translateX(-230px);
          transform: translateX(-230px);
  padding: 20px 15px;
}

body.side-menu-visible #side-menu .close {
  background: #fff;
  border: 2px solid #5DB442;
  /* padding: 1px 8px; */
  border-radius: 5px;
}

body.side-menu-visible #side-menu .close:hover {
  border: 2px solid #4CA368;
}

body.side-menu-visible #side-menu .close span {
  color: #5DB442;
  padding: 1px 8px;
}

body.side-menu-visible #side-menu .close span:hover {
  color: #4CA368;
}

body.side-menu-visible #side-menu .nav-link {
  color: #4CA368;
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body.side-menu-visible #side-menu .nav-link:hover {
  color: #5DB442;
  font-size: 30px;
  font-weight: 800;
  padding: 8px 6px;
  margin-left: 6px;
}

/* Side Navbar Ends */
/* Header Section Ends */
.main {
  background: #4CA368;
  text-align: center;
}

.main .hero {
  padding: 70px 200px;
}

.main .hero .container {
  width: 90%;
  margin: 0 auto;
}

.main .hero .container .head {
  font-size: 48px;
  font-weight: 400;
}

.main .hero .container .text {
  font-size: 16px;
  margin: 15px auto;
  width: 70%;
  line-height: 1.5;
}

.main .hero .container .image {
  margin: 15px 0;
}

.main .hero .container .mailing {
  margin-top: 60px;
}

.main .hero .container .mailing .mail {
  padding: 10px 20px;
  width: 35%;
  border: 2px solid #fff;
  border-radius: 20px 0 0 20px;
}

.main .hero .container .mailing .btn_click {
  padding: 12px 20px;
  border-radius: 0 20px 20px 0;
  background-color: #37804E;
  border: 2px solid #37804E;
  color: #fff;
}

.main .hero .container .mailing .btn_click:hover {
  border: 2px solid #fff;
  background-color: #5DB442;
  color: #333333;
}

.main .hero .container .text2 {
  font-size: 12px;
  color: #fff;
  margin: 15px;
}

.signup {
  background: #efefef;
  text-align: center;
}

.signup .hero {
  padding: 70px 200px;
}

.signup .hero .container {
  width: 90%;
  margin: 0 auto;
}

.signup .hero .container .head {
  font-size: 48px;
  font-weight: 400;
}

.signup .hero .container .box {
  margin: 45px auto;
  padding: 32px;
  width: 55%;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.signup .hero .container .box .top .icon, .signup .hero .container .box .top i {
  display: block;
  padding: -2px 5px;
  color: #efefef;
  font-size: 24px;
  cursor: pointer;
}

.signup .hero .container .box .top .icon:hover, .signup .hero .container .box .top i:hover {
  color: #5DB442;
}

.signup .hero .container .box .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 32px 0;
}

.signup .hero .container .box .bottom .big_icon {
  width: 50%;
  text-align: right;
}

.signup .hero .container .box .bottom .big_icon .icon {
  color: #5DB442;
  font-size: 78px;
  margin-right: 20%;
}

.signup .hero .container .box .bottom .big_icon .icon:hover {
  color: #efefef;
}

.signup .hero .container .box .bottom .details {
  width: 50%;
  text-align: start;
}

.signup .hero .container .box .bottom .details .head {
  font-size: 26px;
  color: #5DB442;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.signup .hero .container .box .bottom .details .text .line {
  margin: 15px;
  color: #333333;
}

.signup .hero .container .three_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup .hero .container .three_icon .icon_caption {
  padding: 10px;
  margin: 15px;
}

.signup .hero .container .three_icon .icon_caption .icon {
  border: 2px solid #5DB442;
  border-radius: 50%;
  color: #5DB442;
  padding: 16px;
}

.signup .hero .container .three_icon .icon_caption .icon .icons {
  color: #5DB442;
}

.signup .hero .container .three_icon .icon_caption .icon:hover {
  background: #5DB442;
  color: #fff;
}

.signup .hero .container .three_icon .icon_caption .icon:hover .icons {
  color: #fff;
}

.signup .hero .container .three_icon .icon_caption .text {
  font-size: 14px;
  margin: 15px;
}

.service {
  text-align: center;
}

.service .hero {
  padding: 70px 200px;
}

.service .hero .container {
  width: 90%;
  margin: 0 auto;
}

.service .hero .container .head {
  font-size: 48px;
  font-weight: 400;
}

.service .hero .container .box {
  margin: 15px 30px;
  margin: 45px auto;
  padding: 32px;
}

.service .hero .container .box .top {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  position: relative;
}

.service .hero .container .box .top .line {
  font-size: 12px;
  font-weight: 600;
}

.service .hero .container .box .top .bgcolor {
  width: 50%;
  text-align: center;
  color: #fff;
  background: #5DB442;
  padding: 10px 12px;
  border: 2px solid #5DB442;
  border-radius: 20px 0 0 20px;
}

.service .hero .container .box .top .line2 {
  width: 50%;
  text-align: center;
  padding: 10px 12px;
  border-radius: 0 20px 20px 0;
  border: 2px solid #efefef;
}

.service .hero .container .box .top .text {
  padding: 8px;
  font-size: 12px;
  background: #4CA368;
  color: #fff;
  border-radius: 50%;
  position: absolute;
}

.service .hero .container .box .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 32px 0;
}

.service .hero .container .box .bottom .big_icon {
  width: 50%;
  text-align: right;
}

.service .hero .container .box .bottom .big_icon .icon {
  color: #5DB442;
  font-size: 78px;
  margin-right: 20%;
}

.service .hero .container .box .bottom .big_icon .icon:hover {
  color: #efefef;
}

.service .hero .container .box .bottom .details {
  width: 50%;
  text-align: start;
}

.service .hero .container .box .bottom .details .head {
  font-size: 26px;
  color: #5DB442;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.service .hero .container .box .bottom .details .text .line {
  margin: 15px;
  color: #333333;
}

.service .hero .container .row_contain .cart {
  text-align: center;
}

.service .hero .container .row_contain .cart .top {
  border: 2px solid #ececec;
  border-bottom: 1px solid #ececec;
  position: relative;
  height: 120px;
}

.service .hero .container .row_contain .cart .top .caption {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  margin-top: -2px;
  padding: 20px 0;
  border-top: 5px solid #ececec;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.service .hero .container .row_contain .cart .top .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #5DB442;
  -webkit-box-shadow: 0 0 8px #5DB442;
          box-shadow: 0 0 8px #5DB442;
  position: absolute;
  right: 50%;
  bottom: -50%;
  -webkit-transform: translate(50%, -20%);
          transform: translate(50%, -20%);
}

.service .hero .container .row_contain .cart .top .circle .bold {
  font-size: 26px;
}

.service .hero .container .row_contain .cart .top .circle p {
  font-size: 12px;
  font-style: italic;
}

.service .hero .container .row_contain .cart .bottom {
  border: 2px solid #ececec;
  border-top: 1px solid #ececec;
  height: 250px;
  padding: 60px 0;
}

.service .hero .container .row_contain .cart .bottom .line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
}

.service .hero .container .row_contain .cart .bottom .line1 .icon {
  margin: 0 10px;
}

.service .hero .container .row_contain .cart .bottom .line1 .on {
  color: #5DB442;
}

.service .hero .container .row_contain .cart .bottom .line1 .off {
  color: red;
}
