@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* colors */
/* fonts */
@font-face {
  font-family: 'Basic Sans Serif 7';
  src: url(../lib/fonts/basic_sans_serif_7.ttf);
}

/* Header Section Starts */
.header {
  overflow-x: hidden;
}

.header .container {
  margin: 0;
}

.header .container_top {
  height: 40px;
  margin: 0;
  padding: 0 200px;
  background: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container_top .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container_top .social .links {
  width: 35px;
  height: 35px;
  padding: 15px;
  margin: 2px;
  border-radius: 2px;
  text-align: center;
  position: relative;
}

.header .container_top .social .links:hover {
  background: #fff;
  color: #5DB442;
}

.header .container_top .social .links:hover i {
  color: #5DB442;
}

.header .container_top .social .links i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .container_top .contact_top .links {
  padding: 15px 0 15px 15px;
  margin: 2px 0 2px 2px;
  color: #fff;
}

.header .container_top .contact_top .links:hover i, .header .container_top .contact_top .links:hover .text {
  color: #5DB442;
}

.header .container_top .contact_top .links i {
  color: #fff;
  font-size: 14px;
}

.header .container_top .contact_top .links .text {
  margin: 0 0 0 10px;
  font-size: 14px;
}

.header .container_bottom {
  padding: 0 200px;
}

.header .container_bottom .navbar_spacing {
  /* padding: 0 250px; */
  background-color: #fff;
}

.header .container_bottom #Nav {
  padding: 10px 0;
}

.header .container_bottom #Nav .logo {
  font-family: "Basic Sans Serif 7", sans-serif;
  color: #636666;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .container_bottom #Nav .logo:hover {
  color: #5DB442;
}

.header .container_bottom #Nav .icon {
  color: #5DB442;
  margin-top: 5px;
}

.header .container_bottom #Nav .icon:hover {
  color: #fff;
}

.header .container_bottom #Nav #navbarText .nav-link {
  margin-left: 35px;
  padding: 10px 0 10px 20px;
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #282828;
  text-align: left;
}

.header .container_bottom #Nav #navbarText .nav-link:hover {
  color: #5DB442;
}

.header .container_bottom #Nav #navbarText .btn-click {
  padding: 10px 20px;
  border: 2px solid #5DB442;
  border-radius: 25px;
}

.header .container_bottom #Nav #navbarText .btn-click:hover {
  background-color: #5DB442;
  color: #fff;
}

/* Side Navbar Starts */
body.side-menu-visible #side-menu {
  -webkit-transform: translateX(-260px);
          transform: translateX(-260px);
  padding: 20px 15px;
}

body.side-menu-visible #side-menu .close {
  background: #fff;
  border: 2px solid #5DB442;
  /* padding: 1px 8px; */
  border-radius: 5px;
}

body.side-menu-visible #side-menu .close:hover {
  border: 2px solid #4CA368;
}

body.side-menu-visible #side-menu .close span {
  color: #5DB442;
  padding: 1px 8px;
}

body.side-menu-visible #side-menu .close span:hover {
  color: #4CA368;
}

body.side-menu-visible #side-menu .nav-link {
  color: #4CA368;
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body.side-menu-visible #side-menu .nav-link:hover {
  color: #5DB442;
  font-size: 30px;
  font-weight: 800;
  padding: 8px 6px;
  margin-left: 6px;
}

/* Side Navbar Ends */
/* Header Section Ends */
.main {
  background: #4CA368;
  text-align: center;
}

.main .hero {
  padding: 45px 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .hero .container {
  margin: 0 auto;
}

.main .hero .container .head {
  font-size: 48px;
  font-weight: 400;
  margin: 45px auto;
}

.main .hero .container .text {
  font-size: 16px;
  margin: 15px auto;
  width: 70%;
  line-height: 1.5;
}

.main .hero .container .image {
  margin: 15px 0;
}

.main .hero .container .mailing {
  margin-top: 60px;
}

.main .hero .container .mailing .mail {
  padding: 10px 20px;
  width: 35%;
  border: 2px solid #fff;
  border-radius: 20px 0 0 20px;
}

.main .hero .container .mailing .btn_click {
  color: #fff;
  padding: 12px 20px;
  border-radius: 0 20px 20px 0;
  background-color: #37804E;
  border: 2px solid #37804E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .hero .container .mailing .btn_click:hover {
  border: 2px solid #fff;
  background-color: #5DB442;
  color: #333333;
}

.main .hero .container .text2 {
  font-size: 12px;
  color: #fff;
  margin: 15px;
}

.signup {
  background: #ececec;
  text-align: center;
}

.signup .hero {
  padding: 45px 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.signup .hero .container {
  margin: 0 auto;
}

.signup .hero .container .head {
  font-size: 48px;
  font-weight: 400;
  margin: 45px;
}

.signup .hero .container .box {
  margin: 45px auto;
  padding: 30px;
  width: 55%;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.signup .hero .container .box .top .icon, .signup .hero .container .box .top i {
  display: block;
  padding: -2px 5px;
  color: #ececec;
  font-size: 30px;
  cursor: pointer;
}

.signup .hero .container .box .top .icon:hover, .signup .hero .container .box .top i:hover {
  color: #5DB442;
}

.signup .hero .container .box .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 30px 0;
}

.signup .hero .container .box .bottom .big_icon {
  width: 50%;
  text-align: right;
}

.signup .hero .container .box .bottom .big_icon .icon {
  color: #5DB442;
  font-size: 78px;
  margin-right: 20%;
}

.signup .hero .container .box .bottom .big_icon .icon:hover {
  color: #efefef;
}

.signup .hero .container .box .bottom .details {
  width: 50%;
  text-align: start;
}

.signup .hero .container .box .bottom .details .subhead {
  font-size: 26px;
  color: #5DB442;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.signup .hero .container .box .bottom .details .text .line {
  margin: 15px;
  color: #333333;
}

.signup .hero .container .three_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup .hero .container .three_icon .icon_caption {
  padding: 10px;
  margin: 15px;
}

.signup .hero .container .three_icon .icon_caption .icon {
  border: 2px solid #5DB442;
  border-radius: 50%;
  color: #5DB442;
  padding: 16px;
}

.signup .hero .container .three_icon .icon_caption .icon .icons {
  color: #5DB442;
}

.signup .hero .container .three_icon .icon_caption .icon:hover {
  background: #5DB442;
  color: #fff;
}

.signup .hero .container .three_icon .icon_caption .icon:hover .icons {
  color: #fff;
}

.signup .hero .container .three_icon .icon_caption .text {
  font-size: 14px;
  margin: 15px;
}

.service {
  text-align: center;
}

.service .hero {
  padding: 45px 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service .hero .container {
  margin: 0 auto;
}

.service .hero .container .head {
  font-size: 48px;
  font-weight: 400;
  margin: 45px;
}

.service .hero .container .box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px auto;
}

.service .hero .container .box .top {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  position: relative;
}

.service .hero .container .box .top .line {
  font-size: 12px;
  min-width: 50%;
  text-align: center;
  padding: 10px 12px;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service .hero .container .box .top .bgcolor {
  color: #fff;
  background: #5DB442;
  border: 2px solid #5DB442;
  border-radius: 20px 0 0 20px;
}

.service .hero .container .box .top .line2 {
  border-radius: 0 20px 20px 0;
  border: 2px solid #efefef;
}

.service .hero .container .box .top .or_text {
  padding: 8px;
  font-size: 12px;
  background: #4CA368;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service .hero .container .box .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 30px 0;
}

.service .hero .container .box .bottom .big_icon {
  width: 50%;
  text-align: right;
}

.service .hero .container .box .bottom .big_icon .icon {
  color: #5DB442;
  font-size: 78px;
  margin-right: 20%;
}

.service .hero .container .box .bottom .big_icon .icon:hover {
  color: #efefef;
}

.service .hero .container .box .bottom .details {
  width: 50%;
  text-align: start;
}

.service .hero .container .box .bottom .details .head {
  font-size: 26px;
  color: #5DB442;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.service .hero .container .box .bottom .details .text .line {
  margin: 15px;
  color: #333333;
}

.service .hero .container .row_contain .cards {
  margin: 0 7%;
  text-align: center;
}

.service .hero .container .row_contain .cards .top {
  border: 2px solid #ececec;
  border-bottom: 1px solid #ececec;
  position: relative;
  height: 120px;
}

.service .hero .container .row_contain .cards .top .caption {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  margin-top: -2px;
  padding: 20px 0;
  border-top: 4px solid #ececec;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.service .hero .container .row_contain .cards .top .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #5DB442;
  -webkit-box-shadow: 0 0 5px #5DB442;
          box-shadow: 0 0 5px #5DB442;
  position: absolute;
  right: 50%;
  bottom: -50%;
  -webkit-transform: translate(50%, -20%);
          transform: translate(50%, -20%);
}

.service .hero .container .row_contain .cards .top .circle .bold {
  font-size: 26px;
}

.service .hero .container .row_contain .cards .top .circle p {
  font-size: 12px;
  font-style: italic;
}

.service .hero .container .row_contain .cards .bottom {
  border: 2px solid #ececec;
  border-top: 1px solid #ececec;
  padding: 60px 0;
}

.service .hero .container .row_contain .cards .bottom .line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
}

.service .hero .container .row_contain .cards .bottom .line1 .icon {
  margin: 0 10px;
}

.service .hero .container .row_contain .cards .bottom .line1 .on {
  color: #5DB442;
}

.service .hero .container .row_contain .cards .bottom .line1 .off {
  color: red;
}

.service .hero .container .row_contain .cards .bottom .btn_purchase {
  margin: 20px;
  padding: 10px 25px;
  font-size: 12px;
  text-transform: uppercase;
  border: 2px solid #ececec;
  border-radius: 20px;
}

.service .hero .container .row_contain .cards:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.service .hero .container .row_contain .cards:hover .top {
  border: 2px solid #fff;
  border-bottom: 1px solid #fff;
}

.service .hero .container .row_contain .cards:hover .bottom {
  border: 2px solid #fff;
  border-top: 1px solid #fff;
}

.service .hero .container .row_contain .cards:hover .caption {
  border-top: 4px solid #5DB442;
}

.service .hero .container .row_contain .cards:hover .circle {
  -webkit-box-shadow: 0 0 10px #5DB442;
          box-shadow: 0 0 10px #5DB442;
}

.service .hero .container .row_contain .cards:hover .btn_purchase {
  color: #fff;
  background: #5DB442;
  border: 2px solid #5DB442;
}

.platform {
  text-align: center;
  background: #ececec;
}

.platform .hero {
  padding: 45px 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.platform .hero .container {
  margin: 0 auto;
}

.platform .hero .container .head {
  font-size: 48px;
  font-weight: 400;
  margin: 45px;
}

.platform .hero .container .col_contain .cards {
  background: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 15px;
}

.platform .hero .container .col_contain .cards .icon {
  font-size: 60px;
  color: #5DB442;
  padding: 15px 5px;
  border-bottom: 3px solid #efefef;
}

.platform .hero .container .col_contain .cards .subhead {
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0;
}

.platform .hero .container .col_contain .cards .text {
  color: #777777;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  margin: 10px;
}

.platform .hero .container .col_contain .cards:hover {
  background: #5DB442;
}

.platform .hero .container .col_contain .cards:hover .icon, .platform .hero .container .col_contain .cards:hover .subhead, .platform .hero .container .col_contain .cards:hover .text {
  color: #fff;
}

.footer {
  text-align: left;
  background: #efefef;
}

.footer .hero .container {
  margin: 0 auto;
}

.footer .hero .container .top .row {
  padding: 45px 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .hero .container .top .row .col_container {
  margin: 0 20px;
}

.footer .hero .container .top .row .col_container .subhead {
  margin: 15px 0;
  color: #333333;
  font-size: 16px;
}

.footer .hero .container .top .row .col_container .subhead:hover {
  color: #5DB442;
}

.footer .hero .container .top .row .col_container .tiny_text {
  color: #777777;
  font-size: 12px;
  line-height: 2;
}

.footer .hero .container .top .row .col_container .box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px 0;
}

.footer .hero .container .top .row .col_container .box .email {
  width: 80%;
  padding: 10px;
  color: #777777;
}

.footer .hero .container .top .row .col_container .box .email:focus {
  outline: 2px solid #5DB442;
}

.footer .hero .container .top .row .col_container .box .icon {
  padding: 10px 20px;
  background: #5DB442;
  color: #fff;
  font-size: 16px;
  outline: 2px solid #5DB442;
}

.footer .hero .container .top .row .col_container .box .icon:hover {
  color: #5DB442;
  background: #fff;
  outline: 2px solid #5DB442;
}

.footer .hero .container .top .row .col_container .text {
  margin: 5px 0;
  color: #777777;
  font-size: 12px;
}

.footer .hero .container .top .row .col_container .text:hover {
  color: #5DB442;
}

.footer .hero .container .bottom {
  border-top: 2px solid #fff;
  padding: 30px 0;
}

.footer .hero .container .bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .hero .container .bottom .container .footer_logo {
  font-family: "Basic Sans Serif 7", sans-serif;
  font-size: 20px;
}

.footer .hero .container .bottom .container .footer_logo:hover {
  color: #5DB442;
}

.footer .hero .container .bottom .container .credit {
  font-size: 12px;
  color: #777777;
  line-height: 1.5;
}

.footer .hero .container .bottom .container .credit p {
  text-align: end;
}

.footer .hero .container .bottom .container .credit p .dev {
  font-weight: 600;
}

.footer .hero .container .bottom .container .credit p .dev:hover {
  color: #5DB442;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
  .header .container_top {
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .container_top .contact_top {
    display: none;
  }
  .header .container_bottom {
    padding: 0 10px;
  }
  .header .container_bottom #Nav {
    padding: 0;
  }
  .header .container_bottom #Nav .logo {
    padding-left: 10px;
    font-size: 20px;
  }
  .main .hero,
  .signup .hero,
  .service .hero,
  .platform .hero {
    padding: 10px 10px;
  }
  .main .hero .container .head,
  .signup .hero .container .head,
  .service .hero .container .head,
  .platform .hero .container .head {
    font-size: 28px;
    margin: 10px auto;
  }
  .main .hero .container .text,
  .signup .hero .container .text,
  .service .hero .container .text,
  .platform .hero .container .text {
    font-size: 14px;
    width: 90%;
    text-align: justify;
  }
  .main .hero .container .image,
  .signup .hero .container .image,
  .service .hero .container .image,
  .platform .hero .container .image {
    margin: 10px 0;
    width: 100%;
  }
  .main .hero .container .image img,
  .signup .hero .container .image img,
  .service .hero .container .image img,
  .platform .hero .container .image img {
    width: 80%;
  }
  .main .hero .container .mailing,
  .signup .hero .container .mailing,
  .service .hero .container .mailing,
  .platform .hero .container .mailing {
    margin-top: 30px;
    font-size: 12px;
  }
  .main .hero .container .mailing .mail,
  .signup .hero .container .mailing .mail,
  .service .hero .container .mailing .mail,
  .platform .hero .container .mailing .mail {
    padding: 6px 10px;
    width: 50%;
  }
  .main .hero .container .mailing .btn_click,
  .signup .hero .container .mailing .btn_click,
  .service .hero .container .mailing .btn_click,
  .platform .hero .container .mailing .btn_click {
    padding: 8px 10px;
  }
  .main .hero .container .text2,
  .signup .hero .container .text2,
  .service .hero .container .text2,
  .platform .hero .container .text2 {
    font-size: 12px;
    line-height: 1.35;
  }
  .main .hero .container .box,
  .signup .hero .container .box,
  .service .hero .container .box,
  .platform .hero .container .box {
    margin: 10px auto;
    padding: 10px 10px;
    width: 98%;
  }
  .main .hero .container .box .top,
  .signup .hero .container .box .top,
  .service .hero .container .box .top,
  .platform .hero .container .box .top {
    width: 70%;
    margin: 0 auto;
  }
  .main .hero .container .box .top i,
  .signup .hero .container .box .top i,
  .service .hero .container .box .top i,
  .platform .hero .container .box .top i {
    font-size: 15px;
  }
  .main .hero .container .box .top .line,
  .signup .hero .container .box .top .line,
  .service .hero .container .box .top .line,
  .platform .hero .container .box .top .line {
    width: 100%;
    padding: 6px 10px;
  }
  .main .hero .container .box .top .or_text,
  .signup .hero .container .box .top .or_text,
  .service .hero .container .box .top .or_text,
  .platform .hero .container .box .top .or_text {
    padding: 10px;
  }
  .main .hero .container .box .bottom,
  .signup .hero .container .box .bottom,
  .service .hero .container .box .bottom,
  .platform .hero .container .box .bottom {
    padding: 15px 0 0 0;
  }
  .main .hero .container .box .bottom .big_icon,
  .signup .hero .container .box .bottom .big_icon,
  .service .hero .container .box .bottom .big_icon,
  .platform .hero .container .box .bottom .big_icon {
    width: 40%;
  }
  .main .hero .container .box .bottom .big_icon .icon,
  .signup .hero .container .box .bottom .big_icon .icon,
  .service .hero .container .box .bottom .big_icon .icon,
  .platform .hero .container .box .bottom .big_icon .icon {
    color: #5DB442;
    font-size: 50px;
    margin-right: 20%;
  }
  .main .hero .container .box .bottom .details,
  .signup .hero .container .box .bottom .details,
  .service .hero .container .box .bottom .details,
  .platform .hero .container .box .bottom .details {
    width: 60%;
  }
  .main .hero .container .box .bottom .details .subhead,
  .signup .hero .container .box .bottom .details .subhead,
  .service .hero .container .box .bottom .details .subhead,
  .platform .hero .container .box .bottom .details .subhead {
    font-size: 20px;
    margin-bottom: 13px;
  }
  .main .hero .container .three_icon .icon_caption,
  .signup .hero .container .three_icon .icon_caption,
  .service .hero .container .three_icon .icon_caption,
  .platform .hero .container .three_icon .icon_caption {
    padding: 0;
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .hero .container .three_icon .icon_caption .icon,
  .signup .hero .container .three_icon .icon_caption .icon,
  .service .hero .container .three_icon .icon_caption .icon,
  .platform .hero .container .three_icon .icon_caption .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .hero .container .three_icon .icon_caption .text,
  .signup .hero .container .three_icon .icon_caption .text,
  .service .hero .container .three_icon .icon_caption .text,
  .platform .hero .container .three_icon .icon_caption .text {
    font-size: 12px;
    margin: 5px;
  }
  .main .hero .container .row_contain .cards,
  .signup .hero .container .row_contain .cards,
  .service .hero .container .row_contain .cards,
  .platform .hero .container .row_contain .cards {
    margin: 5% 10%;
  }
  .main .hero .container .row_contain .cards .bottom,
  .signup .hero .container .row_contain .cards .bottom,
  .service .hero .container .row_contain .cards .bottom,
  .platform .hero .container .row_contain .cards .bottom {
    padding: 60px 0 0 0;
  }
  .main .hero .container .row_contain .cards .bottom .line1,
  .signup .hero .container .row_contain .cards .bottom .line1,
  .service .hero .container .row_contain .cards .bottom .line1,
  .platform .hero .container .row_contain .cards .bottom .line1 {
    padding: 6px 0;
  }
  .main .hero .container .row_contain .cards .bottom .btn_purchase,
  .signup .hero .container .row_contain .cards .bottom .btn_purchase,
  .service .hero .container .row_contain .cards .bottom .btn_purchase,
  .platform .hero .container .row_contain .cards .bottom .btn_purchase {
    margin: 15px;
    padding: 10px 10px;
  }
  .footer .hero .container .top .row {
    padding: 15px 10px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
/* // Medium devices (tablets, less than 992px) */
/* // Large devices (desktops, less than 1200px) */
/* // X-Large devices (large desktops, less than 1400px) */
