@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* colors */

$color1 : #4CA368;
$color1_hover : #37804E;
$color2 : #5DB442;

$black: #282828;
$black_text: #333333;
$ash: #efefef;
$white: #fff;
$offwhite: #ececec;
$logo: #636666;
$black_lite: #777777;
$red : red;

/* fonts */

$roboto : 'Roboto',
sans-serif;
$basicsans7 : 'Basic Sans Serif 7',
sans-serif;
$opensans : 'Open Sans',
sans-serif;

// Font Size
$fs_headlg : 78px;
$fs_iconlg : 60px;
$fs_head   : 48px;
$fs_logo   : 30px;
$fs_subhead: 26px;
$fs_logosm : 20px;
$fs_text1  : 12px;
$fs_text2  : 14px;
$fs_text3  : 16px;


// Spacing

$p_x: 200px;
$s120: 120px;
$s90: 90px;
$s80: 80px;
$s70: 70px;
$s60: 60px;
$s45: 45px;
$s40: 40px;
$s35: 35px; // Social Logo
$s30: 30px;
$s25: 25px;
$s20: 20px;
$s15: 15px;
$s10: 10px;
$s7: 7px;
$s5: 5px;
$s2: 2px;


@font-face {
    font-family: 'Basic Sans Serif 7';
    src: url(../lib/fonts/basic_sans_serif_7.ttf);
}

