@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* colors */

$color1 : #4CA368;
$color1_hover : #37804E;
$color2 : #5DB442;

$black: #282828;
$black_text: #333333;
$ash: #efefef;
$white: #fff;
$offwhite: #ececec;
$logo: #636666;
$footer_lite: #777777;

/* fonts */

$roboto : 'Roboto',
sans-serif;
$basicsans7 : 'Basic Sans Serif 7',
sans-serif;
$opensans : 'Open Sans',
sans-serif;

// measurement
$fs_logo   : 30px;
$fs_headlg : 78px;
$fs_head   : 48px;
$fs_subhead: 26px;
$fs_text1  : 12px;
$fs_text2  : 14px;
$fs_text3  : 16px;


$p_x: 200px;
$p_x2: 100px;
$p_icon: 15px;
$m_icon: 2px;
$m_text: 12px;
$py_menu: 10px;
$px_menu: 20px;
$my_menu: 10px;
$mx_menu: 35px;


@font-face {
    font-family: 'Basic Sans Serif 7';
    src: url(../lib/fonts/basic_sans_serif_7.ttf);
}

