/* Header Section Starts */
.header {
    // width: auto;
    overflow-x: hidden;

    .container {
        margin: 0;
        // padding: 0;
        // width: auto;
    }

    .container_top {
        height: $s40;
        margin: 0;
        padding: 0 $p_x;
        background: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .links {
                // background: $color2;
                width: $s35;
                height: $s35;
                padding: $s15;
                margin: $s2;
                border-radius: 2px;
                text-align: center;
                // border: 1px solid $color2;
                position: relative;

                &:hover {
                    background: $white;
                    // border: 1px solid $color2;
                    color: $color2;

                    i {
                        color: $color2;
                    }
                }

                i {
                    color: $white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }


        .contact_top {

            .links {
                padding: $s15 0 $s15 $s15;
                margin: $s2 0 $s2 $s2;
                // border: 1px solid $color2;
                color: $white;

                &:hover {

                    i,
                    .text {
                        color: $color2;
                    }
                }

                i {
                    color: $white;
                    font-size: $fs_text2;
                }

                .text {
                    margin: 0 0 0 $s10;
                    font-size: $fs_text2;
                }
            }
        }
    }



    .container_bottom {

        padding: 0 $p_x;

        .navbar_spacing {
            /* padding: 0 250px; */
            background-color: $white;
        }

        #Nav {
            padding: $s10 0;

            .logo {
                font-family: $basicsans7;
                color: $logo;
                font-size: $fs_logo;
                font-weight: bold;
                text-transform: uppercase;

                &:hover {
                    color: $color2;
                }
            }

            .icon {
                color: $color2;
                margin-top: 5px;

                &:hover {
                    color: $white;
                }
            }

            #navbarText {

                .nav-link {
                    margin-left: $s35;
                    padding: $s10 0 $s10 $s20;
                    color: $white;
                    font-size: $fs_text3;
                    font-family: $roboto;
                    color: $black;
                    text-align: left;

                    &:hover {
                        color: $color2;
                    }
                }

                .btn-click {
                    padding: $s10 $s20;
                    border: 2px solid $color2;
                    border-radius: 25px;

                    &:hover {
                        background-color: $color2;
                        color: $white;
                    }
                }
            }
        }
    }

}

/* Side Navbar Starts */

body.side-menu-visible #side-menu {
    // transform: translateX(-260px);
    transform: translateX(-90%);
    padding: 20px 15px;

    .close {
        background: $white;
        border: 2px solid $color2;
        /* padding: 1px 8px; */
        border-radius: 5px;

        &:hover {
            border: 2px solid $color1;
        }

        span {
            color: $color2;
            padding: 1px 8px;

            &:hover {
                color: $color1;
            }
        }
    }

    .nav-link {
        color: $color1;
        font-size: 24px;
        font-weight: 600;
        padding: 16px 0;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:hover {
            color: $color2;
            font-size: 30px;
            font-weight: 800;
            padding: 8px 6px;
            margin-left: 6px;
        }
    }

}

// #side-menu {
//     padding: 20px 15px;
// }

/* Side Navbar Ends */

/* Header Section Ends */