    $p_x: 10px;
    $s120: 12px;
    $s90: 90px;
    $s80: 80px;
    $s70: 70px;
    $s60: 60px;
    $s45: 15px;
    $s40: 40px;
    $s35: 35px; // Social Logo
    $s30: 30px;
    $s25: 25px;
    $s20: 20px;
    $s15: 15px;
    $s12: 12px;
    $s10: 10px;
    $s7: 7px;
    $s5: 5px;
    $s2: 2px;


/* // X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) { 
    
    .header {

        .container {
            margin: 0;
            padding: 0 $p_x;

            .container_top {
                margin: 0 auto;
                padding: 0;
                display: flex;
                justify-content: center;

                .contact_top {
                    .links{
                        display: none;
                    }
                }    
            }

            
        }

    }

    

    .main .hero{
        padding: $s45 $p_x;

        .container{

            .image {
                margin: $s15 0;
                width: 200px;
            }
        } 
    }
    
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {


}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
    
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {  
    
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    
}

@media (min-width: 1400px) { 
    
}