    // Font Size
    $fs_headlg : 50px;
    $fs_iconlg : 30px;
    $fs_head : 28px;
    $fs_logo : 20px;
    $fs_subhead: 20px;
    $fs_logosm : 15px;
    $fs_text1 : 12px;
    $fs_text2 : 14px;
    $fs_text3 : 16px;


    $p_x: 10px;
    $s120: 12px;
    $s60_r: 60px;
    $s90: 45px;
    $s80: 40px;
    $s70: 35px;
    $s60: 30px;
    $s45: 15px;
    $s40: 20px;
    $s35: 17px; // Social Logo
    $s30: 15px;
    $s25: 12px;
    $s20: 10px;
    $s15: 8px;
    $s12: 6px;
    $s10: 5px;
    $s7: 7px;
    $s5: 5px;
    $s2: 2px;


    /* // X-Small devices (portrait phones, less than 576px) */
    @media screen and (max-width: 575.98px) {

        html {
            overflow-x: hidden;
        }

        .header {

            .container_top {
                padding: 0 $p_x;
                display: flex;
                justify-content: center;

                .contact_top {
                    display: none;
                }
            }

            .container_bottom {
                padding: 0 $p_x;


                #Nav {
                    padding: 0;

                    .logo {
                        padding-left: $s15;
                        font-size: $fs_logo;
                    }
                }
            }

        }



        .main .hero,
        .signup .hero,
        .service .hero,
        .platform .hero {
            padding: $s20 $p_x;

            .container {

                .head {
                    font-size: $fs_head;
                    margin: $s20 auto;
                }

                .text {
                    font-size: $fs_text2;
                    width: 90%;
                    text-align: justify;
                }

                .image {
                    margin: $s15 0;
                    width: 100%;

                    img {
                        width: 80%;
                    }
                }

                .mailing {
                    margin-top: $s60;
                    font-size: $fs_text1;

                    .mail {
                        padding: $s10 $s20;
                        width: 50%;
                    }

                    .btn_click {
                        padding: $s12 $s20;
                    }
                }

                .text2 {
                    font-size: $fs_text1;
                    line-height: 1.35;
                }

                .box {
                    margin: $s20 auto;
                    padding: $s20 $s15;
                    width: 98%;

                    .top {
                        width: 85%;
                        margin: 0 auto;

                        i {
                            font-size: $s30;
                        }

                        .line {
                            width: 90%;
                            padding: $s10 $s25;
                            // padding: 3% 9%;
                        }

                        .or_text {
                            // padding: $s20;
                            padding: $s10;
                        }

                    }

                    .bottom {
                        padding: $s30 0 0 0;

                        .big_icon {
                            width: 40%;

                            .icon {
                                color: #5DB442;
                                font-size: $fs_headlg;
                                margin-right: 20%;
                            }
                        }

                        .details {
                            width: 60%;

                            .subhead {
                                font-size: $fs_subhead;
                                margin-bottom: $s25;
                            }
                        }
                    }

                }

                .three_icon {
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-around;

                    .icon_caption {
                        padding: 0;
                        margin: $s5;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        .icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .text {
                            font-size: $fs_text1;
                            margin: $s5;
                        }
                    }
                }

                .row_container {

                    .cards {
                        margin: 5% 10%;

                        .bottom {
                            padding: $s60_r 0 0 0;

                            .line1 {
                                padding: $s10 0;
                            }

                            .btn_purchase {
                                margin: $s30;
                                padding: $s20 $s20;
                            }
                        }
                    }
                }
            }
        }

        .footer {

            .hero {

                .container {

                    .top {

                        .row_container {
                            padding: $s45 $p_x;
                        }
                    }

                    .bottom {
                        padding: $s10 $p_x;

                        .container {
                            display: flex;
                            justify-content: space-around;
                            padding: 0 $p_x;

                            .footer_logo {
                                font-size: $fs_text3;
                            }

                            .credit {
                                font-size: $s20;
                                line-height: 1.15;
                                display: flex;

                            }
                        }
                    }

                }
            }
        }

    }

    /* // Small devices (landscape phones, less than 768px) */
    @media (min-width: 576px) and (max-width: 767.98px) {}

    /* // Medium devices (tablets, less than 992px) */
    @media (min-width: 768px) and (max-width: 991.98px) {}

    /* // Large devices (desktops, less than 1200px) */
    @media (min-width: 992px) and (max-width: 1199.98px) {}

    /* // X-Large devices (large desktops, less than 1400px) */
    @media (min-width: 1200px) and (max-width: 1399.98px) {}

    @media (min-width: 1400px) {}