@import 'config';
@import 'header';


// Main Section Starts

.main{
    background: $color1;
    // height: 830px;
    text-align: center;

    .hero{
        padding: $s45 $p_x;
        box-sizing: border-box;

        .container{
            // padding: 0 $p_x2;
            // width: 90%;
            margin: 0 auto;

            .head{
                font-size: $fs_head;
                font-weight: 400;
                margin: $s45 auto;
            }
            .text{
                // margin: $s15 $s30;
                font-size: $fs_text3;
                margin: $s15 auto;
                width: 70%;
                line-height: 1.5;
            }

            .image{
                margin: $s15 0;
            }

            .mailing{
                margin-top: $s60;

                .mail{
                    padding: $s10 $s20;
                    width: 35%;
                    border: 2px solid $white;
                    border-radius: $s20 0 0 $s20;
                }

                .btn_click{
                    color: $white;
                    padding: $s12 $s20;
                    border-radius: 0 $s20 $s20 0 ;
                    background-color: $color1_hover;
                    border: 2px solid $color1_hover;
                    box-sizing: border-box;

                    &:hover{
                        border: 2px solid $white;
                        background-color: $color2;
                        color:  $black-text;
                    }

                    
                }
            }

            .text2{      
                font-size: $fs_text1;
                color: $white;
                margin: $s15;
            }

        }
    }
}

// Main Section Ends





// Signup Section Starts

.signup{
    background: $offwhite;
    // height: 620px;
    text-align: center;
    
    .hero{
        padding: $s45 $p_x;
        box-sizing: border-box;

        .container{
            // padding: 0 $p_x2;
            // width: 90%;
            margin: 0 auto;
            
            .head{
                font-size: $fs_head;
                font-weight: 400;
                margin: $s45;
            }

            .box{
                
                // margin: $s15 $s30;
                margin: $s45 auto;
                padding: $s30;
                width: 55%;
                background: $white;
                box-shadow: 0 0 $s5 rgba(0,0,0,0.2);
                box-sizing: border-box;

                .top{

                    .icon, i{
                        display: block;
                        padding: -2px $s5;
                        color: $offwhite;
                        font-size: $fs_logo;
                        cursor: pointer;

                        &:hover{
                            color: $color2;
                        }
                    }
                }

                .bottom{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    padding: $s30 0;

                    .big_icon{
                        width: 50%;
                        text-align: right;

                        .icon{
                            color: $color2;
                            font-size: $fs_headlg;
                            margin-right: 20%;

                            &:hover{
                                color: $ash;
                            }

                        }
                    }

                    .details{
                        width: 50%;
                        text-align: start;
                        
                        .subhead{
                            font-size: $fs_subhead;
                            color: $color2;
                            margin-bottom: $s25;
                            text-transform: uppercase;
                        }

                        .text{

                            .line{
                                margin: $s15;
                                color: $black_text;
                            }
                        }

                    }
                }
            }
            
            .three_icon{
                // margin-top: $s60;
                display: flex;
                justify-content: center;
                
                .icon_caption{
                    padding: $s10;
                    margin: $s15;
                    // width: 20%;

                    .icon{
                        border: 2px solid $color2;
                        border-radius: 50%;
                        color: $color2;
                        padding: $fs_text3;

                        .icons{
                            color: $color2; 
                        }

                        &:hover{
                            background: $color2 ;
                            color: $white; 

                            .icons{
                                color: $white; 
                            }
                        }

                    }

                    .text{
                        font-size: $fs_text2;
                        margin: $s15;
                    }
                }
                    
            }
            
        }
    }
}


// Service Section Ends


// Service Section Starts

.service{
    // background: $ash;
    // height: 620px;
    text-align: center;
    
    .hero{
        padding: $s45 $p_x;
        box-sizing: border-box;

        .container{
            // padding: 0 $p_x2;
            // width: 90%;
            margin: 0 auto;
            
            .head{
                font-size: $fs_head;
                font-weight: 400;
                margin: $s45;
            }

            .box{
                box-sizing: border-box;
                margin: $s30 auto;

                .top{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 30%;
                    position: relative;

                    .line{
                        font-size: $fs_text1;
                        font-weight: 600;
                        box-sizing: border-box;
                    }

                    .bgcolor{
                        width: 50%;
                        text-align: center;
                        color: $white;
                        background: $color2;
                        padding: $s10 $s12;
                        border: 2px solid $color2;
                        border-radius: $s20 0 0 $s20;
                    }

                    .line2{
                        width: 50%;
                        text-align: center;
                        padding: $s10 $s12;
                        border-radius: 0 $s20 $s20 0;
                        border: 2px solid $ash;
                    }

                    .text{
                        padding: 8px;
                        font-size: $fs_text1;
                        background: $color1;
                        color: $white;
                        border-radius: 50%;
                        position: absolute;
                    }
                }

                .bottom{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    padding: $s30 0;

                    .big_icon{
                        width: 50%;
                        text-align: right;
                        .icon{
                            color: $color2;
                            font-size: $fs_headlg;
                            margin-right: 20%;
                            &:hover{
                                color: $ash;
                            }

                        }
                    }

                    .details{
                        width: 50%;
                        text-align: start;
                        
                        .head{
                            font-size: $fs_subhead;
                            color: $color2;
                            margin-bottom: $s25;
                            text-transform: uppercase;
                        }

                        .text{

                            .line{
                                margin: $s15;
                                color: $black_text;
                            }
                        }

                    }
                }
            }

            .row_contain{

                
                .cards{
                    margin: 0 7%;
                    text-align: center;
                    
                    .top{
                        border: 2px solid $offwhite;
                        border-bottom: 1px solid $offwhite;
                        position: relative;
                        height: $s120;

                        .caption{
                            display: inline-flex;
                            justify-content: center;
                            width: 30%;
                            margin-top: -2px;
                            padding: $s20 0;
                            border-top: 4px solid $offwhite;
                            font-size: $fs_text2;
                            text-transform: uppercase;
                            font-weight: 600;  
                        }

                        .circle{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: $s90;
                            height: $s90;
                            background: $white;
                            border-radius: 50%;
                            border: 1px solid $color2;
                            box-shadow: 0 0 $s5 $color2;
                            position: absolute;
                            right: 50%;
                            bottom: -50%;
                            transform: translate(50%,-20%);

                            .bold{
                                font-size: $fs_subhead;
                            }

                            p{
                                font-size: $fs_text1;
                                font-style: italic;
                            }
                        }

                    }

                    .bottom{
                        border: 2px solid $offwhite;
                        border-top: 1px solid $offwhite;
                        // height: 280px;
                        padding: $s60 0;

                        .line1{
                            // padding: 80px auto;
                            display: flex;
                            justify-content: center;
                            padding: $s10;
                            font-size: $fs_text1;
                            font-weight: 600;

                            .icon{
                                margin: 0 $s10;
                            } 

                            .on{
                                color: $color2;
                            }

                            .off{
                                color: $red;
                            }
                        }

                        .btn_purchase{
                            margin: $s20;
                            padding: $s10 $s25;
                            font-size: $fs_text1;
                            text-transform: uppercase;
                            border: 2px solid $offwhite;
                            border-radius: $s20;
                        }
                    }

                    &:hover{
                        box-shadow: 0 0 $s5 rgba(0,0,0,0.25);

                        .caption{
                            border-top: 4px solid $color2;
                        }

                        .circle{
                            box-shadow: 0 0 $s10 $color2;
                        }

                        .btn_purchase{
                            
                            color: $white;
                            background: $color2;
                            border: 2px solid $color2;
                        }
                    }
                }
            }
            
        }
    }
}


// Service Section Ends






// Platform Section Starts

.platform{
    text-align: center;
    background: $offwhite;

    .hero{
        padding: $s45 $p_x;
        box-sizing: border-box;
        // box-sizing: border-box;

        .container{
            // width: 90%;
            margin: 0 auto;

            .head{
                font-size: $fs_head;
                font-weight: 400;
                margin: $s45;
            }

            .col_contain{

                .cards{
                    background: $white;
                    box-shadow: 0 0 2px rgba(0,0,0,0.2);
                    padding: $s20;
                    margin: $s15;

                    .icon{
                        font-size: $fs_iconlg;
                        color: $color2;
                        padding: $s15 $s5;
                        border-bottom: 3px solid $ash;
                    }

                    .subhead{
                        font-size: $fs_text3;
                        color: $black-text;
                        text-transform: uppercase;
                        font-weight: 400;
                        margin: $s20 0;
                    }
                    
                    .text{
                        color: $black_lite;
                        font-size: $fs_text1;
                        font-weight: 300;
                        line-height: 1.5;
                        margin: $s10;
                    }

                    &:hover{
                        background: $color2;

                        .icon,.subhead,.text{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}











// Platform Section Ends


// Footer Section Starts

.footer{
    text-align: left;
    background: $ash;

    .hero{

        .container{
            // width: 90%;
            margin: 0 auto;

            .top{
                // border-bottom: 2px solid $white;

                .row{
                    
                    padding: $s45 $p_x;
                    box-sizing: border-box;
                    // justify-content: space-between;
                    
                    .col_container{
                        margin: 0 $s20;

                        .subhead{
                            margin: $s15 0;
                            color: $black_text;
                            font-size: $fs_text3;

                            &:hover{
                                color: $color2;
                            }
                        }
                        .tiny_text{
                            // margin: $s5 0;
                            color: $black_lite;
                            font-size: $fs_text1;
                            line-height: 2;
                        }

                        .box{
                            box-sizing: border-box;
                            margin: $s15 0; 

                            .email{
                                width: 80%;
                                padding: $s10; 
                                color: $black_lite;

                                &:focus{
                                    outline: 2px solid $color2;
                                }
                            }

                            .icon{
                                padding: $s10 $s20; 
                                background: $color2;
                                color: $white;
                                font-size: $fs_text3;
                                outline: 2px solid $color2;
                                
                                &:hover{
                                    color: $color2;
                                    background: $white;
                                    outline: 2px solid $color2;
                                }

                            }
                        }

                        .text{
                            margin: $s5 0;
                            color: $black_lite;
                            font-size: $fs_text1;

                            &:hover{
                                color: $color2; 
                            }
                        }
                    }
                }

            }

            
            .bottom{
                border-top: 2px solid $white;
                padding: $s30 0;

                .container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 $p_x;
                    box-sizing: border-box;

                    .footer_logo{
                        font-family: $basicsans7;
                        font-size: $fs_logosm;
    
                        &:hover{
                            color: $color2; 
                        }
                    }
    
                    .credit{
                        font-size: $fs_text1;
                        color: $black_lite;
                        line-height: 1.5;

                        p{
                            text-align: end;

                            .dev{
                                font-weight: 600;
                                &:hover{
                                    color: $color2; 
                                }
                            }
    
                        }
                            
                    }
                }
                
            }

        }
    }
}
// Footer Section Ends

@import 'responsive';